<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Основное</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cutaway/../../static/cutaway/style.css' %}">

</head>
<body>

<div id="head">
    <div id="link">
        <ul>
            <li>
                <a href="#content">Обо мне</a>
            </li>
            <li>
                <a href="#project">Мои проекты</a>
            </li>
            <li>
                <a href="#contacts">Контакты</a>
            </li>
        </ul>
    </div>
    <h1 id="header">My Site</h1>
</div>
<div id="basic">
    <img src="../../static/image/My_photo.png" alt="Моё фото"/>
</div>
<div id="hr"></div>
<div id="content">
    <p>
    <h3>Меня зовут {{ basic.my_name }} и мне {{ basic.my_age }} лет.
        Я учусь в {{ basic.my_class }} классе. Также я учу {{ basic.language }} {{ basic.my_exp }} года.</h3>
</div>
<p>
<h3>{{ basic.add }}</h3></p>
</div>
<div id="hr"></div>
<div id="all-project">
    <h2>Мои проекты</h2>

    <div id="project">
        <img src="../../static/image/Project.png" alt="my_project" align="center"/>
        <img src="../../static/image/Project.png" alt="my_project" align="center"/>
        <img src="../../static/image/Project.png" alt="my_project" align="center"/>
    </div>
</div>
<div id="hr"></div>

<div id="all-contacts">
    <h2>Контакты</h2>
    <div id="contacts">
        <p>E: And.malinkin@gmail.com</p>
        <p>T: +7 985 897 07 18</p>
    </div>
</div>
</body>
</html>